@page "/request"

@using System.Text.RegularExpressions
@using System.ComponentModel.DataAnnotations
@using MudBlazor;

<MudGrid>
    <MudItem xs="12" sm="7">
        <MudPaper Class="pa-4">
            <MudForm @ref="mudForm" @bind-IsValid="@success" @bind-Errors="@errors">
                    <MudTextField T="string" Label="Name" Required="true" @bind-Value="Name" RequiredError="Name is required!"/>
                    <MudTextField T="string" Label="Email" Required="true" @bind-Value="Email" RequiredError="Email is required!"
                                  Validation="@(new EmailAddressAttribute() {ErrorMessage = "The email address is invalid"})"/>
                    @*
                    <div class="d-flex">
                        <MudRadioGroup T="string" Required="true" RequiredError="Please choose what best suits you!">

                            <MudRadio Option="@("Personal")">Single</MudRadio>
                            <MudRadio Option="@("Professional")">Family</MudRadio>
                            <MudRadio Option="@("Professional")">Professional</MudRadio>
                        </MudRadioGroup>
                    </div>*@
                    <MudTextField @bind-Value="TextValue" Label="Enter your message here" Variant="Variant.Outlined" Margin="Margin.Dense"></MudTextField>
                    <div class="d-flex align-center justify-space-between">
                        
                        <MudButton Variant="Variant.Filled" Color="Color.Primary" Disabled="@(!success)" Class="ml-auto">Submit</MudButton>
                    </div>
            </MudForm>   
        </MudPaper>
    </MudItem>
</MudGrid>
@code {
    bool success;
    MudForm mudForm;


    string[] errors = { };
    MudTextField<string> pwField1;
  

    public string Name { get; set; }
    public string Email { get; set; }
    public string TextValue { get; set; }
   

}